tr(id="row" + index,data-index=index)
  td
    -if (typeof(addElem) !== 'undefined'){
      | add(
      div(id="new" + index, class="element newItem")= addElem
      | );
    -} else if (typeof(removeElem) !== 'undefined'){
      | remove(
      div(id="new" + index, class="element newItem")= removeElem
      | );
    -}
  td
    .textin
      img.droppable(src='img/trash.jpg', height='10', width='10')
      ul(id="set" + index, class="textin items")
    a#check.button(href='nojavascript.html', onclick='btnClick(this); return false') Check
    a#reset.button(href='nojavascript.html', onclick='resetBtn(this); return false') Reset
    p
      span(id="check" + index, class="checkmark")
      span#c.hidden= answer
tr(id="reset" + index, class="hidden")

  td
    -if (typeof(addElem) !== 'undefined'){
      | add(
      div(id="new" + index, class="element newItem")= addElem
      | );
    -} else if (typeof(removeElem) !== 'undefined'){
      | remove(
      div(id="new" + index, class="element newItem")= removeElem
      | );
    -}
  td
    .textin
      img.droppable(src='img/trash.jpg', height='10', width='10')
      ul(id="set" + index, class="textin items")
    a#check.button(href='nojavascript.html', onclick='btnClick(this); return false') Check
    a#reset.button(href='nojavascript.html', onclick='resetBtn(this); return false') Reset
    p
      span(id="check" + index, class="checkmark")
      span#c.hidden= answer
